<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="/var/www/drupal/tests/phpunit/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">
    <php>
        <!-- Set error reporting to E_ALL. -->
        <ini name="error_reporting" value="32767"/>
        <!-- Do not limit the amount of memory tests take to run. -->
        <ini name="memory_limit" value="-1"/>
        <!-- Example SIMPLETEST_BASE_URL value: http://localhost -->
        <env name="SIMPLETEST_BASE_URL" value=""/>
        <!-- Example SIMPLETEST_DB value: mysql://username:password@localhost/databasename#table_prefix -->
        <env name="SIMPLETEST_DB" value=""/>
        <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
        <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/var/www/drupal/tests/browser"/>
    </php>
    <testsuites>
        <testsuite name="drupal-composer-project tests">
            <directory>/var/www/drupal/test/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>/var/www/drupal/web/modules/custom/*/tests/src/</directory>
            <!-- Exclude Composer's vendor directory so we don't run tests there. -->
            <exclude>/var/www/drupal/vendor</exclude>
            <!-- Exclude Drush tests. -->
            <exclude>/var/www/drupal/drush/tests</exclude>
            <!--Exclude Drupal Core tests. -->
            <exclude>/var/www/drupal/web/core</exclude>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Drupal\Tests\Listeners\DrupalStandardsListener">
        </listener>
    </listeners>
    <!-- Filter for coverage reports. -->
    <filter>
        <whitelist>
            <directory>/var/www/drupal/web/modules/custom</directory>
            <directory suffix=".module">/var/www/drupal/web/modules/custom</directory>
            <directory suffix=".inc">/var/www/drupal/web/modules/custom</directory>
            <!-- By definition test classes have no tests. -->
            <exclude>
                <directory suffix="Test.php">./</directory>
                <directory suffix="TestBase.php">./</directory>
                <directory suffix=".inc">/var/www/drupal/web/modules/custom/*/tests</directory>
                <directory>/var/www/drupal/web/modules/custom/*/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
